.welcomeText{
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  text-align: center;
  color: #293056;
  margin-top: 5px;
  margin-bottom: 5px;
}

.welcomeSubText{
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #3E4784;
  margin-bottom: 50px;
}

.signInButton{
  background-image: linear-gradient(to right, #444CE7 , #2E90FA);
  color: #fff !important;
  padding: 10px 24px;
  gap: 8px;
  width: 376px;
  height: 48px;
  margin-bottom: 10px !important;
}

.slide-item{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imgBanner{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.signUpButton{
  background: #fff !important;
  border: 1px solid #2E90FA !important;
  color: #000 !important;
  padding: 10px 24px;
  gap: 8px;
  width: 376px;
  height: 48px;
}

.contentButton{
  background-color: '#f9f9f9'; 
  padding: '2rem'
}

.contentSlide{
  background-color: '#f0f4ff';
  padding: '2rem';
  @media (max-width: 767px) {
    display: none;
  }
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
}

@keyframes fadeInDown {
  from { 
    opacity: 0;
    transform: translateY(-50px); 
  }
  to { 
    opacity: 1;
    transform: translateY(0px); 
  }
}