.active{
  color: #007aff !important;
}

.active::before {
  content: '';
  display: block;
  border: 2px solid #007aff;
  width: 100%;
  position: relative;
  top: 35px;
}

.boxContainer {
  width: 98%;
  margin: 0px 1%;
  height: 81vh;
}

.boxAtestado, .boxResumo{
  height: 600px !important;
}
.atestadoContainer, .resumoContainer{
  margin-top: 25px;
}

.btnPreview{
  text-transform: capitalize !important;
  background: #fff !important;
  color: #686f95 !important;
  border: 1px solid #686f95 !important;
  font-size: 16px !important;
  padding: 10px 30px !important;
  margin-top: 0px !important;
}

.btnCopy{
  text-transform: capitalize !important;
  background: #fff !important;
  color: #686f95 !important;
  border: 1px solid #686f95 !important;
  font-size: 16px !important;
  padding: 10px 30px !important;
  margin-top: 35px !important;

}


.titleSwitch {
  display: flex;
  justify-content: space-between;
}

.buttonRecordingArea {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.trashButton {
  background-color: #D92D20;
  color: #f8f9fb !important;
  padding: 15px !important;
  margin-top: 20px !important;
  margin-right: 20px !important;
  min-width: 48px !important;
  width: 48px !important;
  min-height: 48px !important;
  height: 48px;
}

.trashButton span{
  margin-left: 0px;
  margin-right: 0px;
}

.tabsSummary {
  border: 1px solid #E0EAFF;
  background: #f3f3f3;
  padding: 0px;
  border-radius: 5px 5px 0px 0px;
}

.tabsSummary .Mui-selected {
  background: #fff !important;
  border-radius: 5px 5px 0px 0px;
  color: #323539;
}

.tabContent {
  padding: 15px;
}

.textContent {
  height: 335px;
}

.textareaContent {
  width: 100%;
  height: 335px;
  border: none;
  border-radius: 5px;
  resize: none;
  font-family: "Inter" !important;
}

.textareaContentEdit {
  width: 100%;
  height: 335px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  font-family: "Inter" !important;
  padding: 15px;
}

.tabsSummaryCustom .MuiTabs-flexContainer {
  background: #f5f8ff;
  border-radius: 10px;
  min-height: 35px;
  height: 40px;
  align-items: center;
  padding: 10px;
}

.tabsSummaryCustom .Mui-selected {
  background: #fff !important;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #ccc;
  color: #323539 !important;
  font-family: "Inter", sans-serif !important;
  text-transform: capitalize;
  min-height: 30px;
  height: 30px;
  box-shadow: 0px 1px 3px 0px #1018281A;
  box-shadow: 0px 1px 2px -1px #0000001A;

}

.tabsSummaryCustom{
  font-family: "Inter", sans-serif !important;
  text-transform: capitalize;
}

.tabsSummaryCustom .MuiButtonBase-root{
  font-family: "Inter", sans-serif !important;
  text-transform: capitalize;
  min-height: 30px;
  height: 30px;
  color: #717BBC;
}
