.planoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.menuBtnItem {
    margin-top: 10px;
}

.menuConfBtn {
    width: 320px;
    height: 50px;
    justify-content: flex-start !important;
    background-color: #04cda6 !important;
}

.menuConfBtn .MuiButton-icon svg {
    color: #fff;
}