<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Free Web tutorials">
        <meta name="keywords" content="HTML, CSS, JavaScript">
        <meta name="author" content="John Doe">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>vemDeco - Confirmar Email</title>
        <link rel="stylesheet" href="css/confirmaremail.css">
        <link rel="stylesheet" href="css/uikit.min.css" />
        <script src="js/uikit.min.js"></script>
        <script src="js/uikit-icons.min.js"></script>
        <link rel="icon" href="img/favicon.ico">
    </head>
    <body>
        <div class="container uk-text-center">
            <div class="loginContent">
                <img src="img/vemdeco-plataforma-digital-logo.png" alt="vemDeco a sua plataforma de venda" title="vemDeco a sua plataforma de venda"/>
                <h5>Desculpe, mas sua chave de acesso expirou ou está inválida, <br>preencha o formulário abaixo com o e-mail usado no cadastro para ativar sua conta.
                </h5>
                <form class="formlogin">
                    <div class="uk-margin">
                        <div class="uk-inline">
                            <span class="uk-form-icon" uk-icon="icon: user"></span>
                            <input class="uk-input" type="text" aria-label="Not clickable icon" placeholder="Seu E-mail:">
                        </div>
                    </div>
                
                    <button class="uk-button">Confirmar Email</button>
                </form>
                <div class="helpLink">
                    <a href="/login">Voltar</a>
                </div>
            </div>
        </div>
    </body>
</html>