.navContainer{
    background-color: white;
    position: absolute;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
  
}

.iconDiv{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 120px;
}
.rightSide{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 120px;
}

.accountText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.accountText a{
    color: #475569;
    font-size: 14px;
    text-decoration: none;
}

.roundInitials{
    height: 40px;
    width: 40px;
    border-radius: 100px;
    background-color: #E9F5EF;
    color: #1B8D56;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

.logOutLink button {
    background: transparent;
    border: none;
    font-size: 14px;
}

.logOutLink button:hover {
    text-decoration: underline;
    cursor: pointer;
}