.navContainer{
    background-color: white;
    position: absolute;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

.iconDiv{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 120px;
    cursor: pointer;
    @media (max-width: 767px) {
        margin-left: 0px;
    }
}
.rightSide{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 120px;
}

.accountText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}
.accountText a{
    color: #475569;
    font-size: 14px;
    text-decoration: none;
}

.roundInitials{
    height: 40px;
    width: 40px;
    border-radius: 100px;
    background-color: #E9F5EF;
    color: #04fccc;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

.logOutLink button {
    background: transparent;
    border: none;
    font-size: 14px;
}

.logOutLink button:hover {
    text-decoration: underline;
    cursor: pointer;
}

.buttonLink {
    padding: 0px;
    border: none;
    background: transparent;
    margin-top: 3px;
    font-size: 12px;
}

.buttonLink:hover {
    text-decoration: underline;
    cursor: pointer;
}

.buttonLinkCustom {
    padding: 0px;
    border: none;
    background: transparent;
    margin-top: 3px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 14px;
    color: #04fccc;
    font-weight: 600;
}

.buttonLinkCustom:hover {
    text-decoration: underline;
    cursor: pointer;
}

.bell{
    margin-left:50px;
    @media (max-width: 767px) {
        margin-left: 30px;
    }
}

.line{
    margin-left:5px;
    margin-right:5px;
}

.logOutLink{
    @media (max-width: 767px) {
        margin-left: 20px;
    }
}

.notificationsContainer {
    position: absolute;
    top: 60px;
    right: 120px; /* Ajuste conforme necessário */
    width: 350px; /* Ajuste conforme necessário */
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .notificationsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ddd;
  }
  
  .notificationsHeader span {
    font-size: 16px;
    font-weight: bold;
  }
  
  .markAllReadButton {
    background: none;
    border: none;
    color: #04fccc;
    cursor: pointer;
    font-size: 14px;
  }
  
  .notificationsList {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 300px; /* Ajuste conforme necessário */
    overflow-y: auto;
  }
  
  .notificationItem {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .notificationItem:last-child {
    border-bottom: none;
  }
  
  .notificationAvatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .notificationContent {
    flex: 1;
  }
  
  .notificationContent p {
    margin: 0;
    font-size: 14px;
  }
  
  .notificationTime {
    color: #888;
    font-size: 12px;
    text-align: right;
    display: block;
  }
  
  .notificationOptions {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
  
  .seeAllButtonContainer {
    text-align: center;
    padding: 10px;
  }
  
  .seeAllButton {
    background: none;
    border: none;
    color: #04fccc;
    cursor: pointer;
    font-size: 14px;
  }
  
  .notificationInfo{
    text-align: center;
  }