.inputMain{
  display: flex;
  justify-content: space-between;
  width: 98%;
  height: 48px;
  border: 1px solid #C1C3C7;
  border-radius: 8px;
  font-size: 100%;
  text-indent: 10px;
}

.typography{
    color: #344054;
    font-size: 14;
}

select::after {
  content: '\25BC'; /* Unicode para a seta para baixo */
  position: absolute;
  top: 50%;
  right: 10px; /* Espaço à direita da seta */
  transform: translateY(-50%);
}