.gridPersonal{
    border: 1px solid #C8CFDE;
    border-radius: 10px;
    margin: 30px 30px 30px 30px;
    text-align: left;
    margin-bottom: 20px;
    background-color: white;
    font-family: "Inter", sans-serif !important;
    @media (max-width: 767px){
      margin: 10px;
    }
}

.inputMain{
    display: flex;
    justify-content: space-between;
    width: 98%;
    height: 48px;
    border: 1px solid #C1C3C7;
    border-radius: 8px;
    font-size: 100%;
    text-indent: 10px;
  }
  
  .typography{
      color: #344054;
      font-size: 14;
  }
  
  select::after {
    content: '\25BC'; /* Unicode para a seta para baixo */
    position: absolute;
    top: 50%;
    right: 10px; /* Espaço à direita da seta */
    transform: translateY(-50%);
  }
  
  .inputSelect{
    height: 48px;
    margin-top: 4px;
  }

  .phonebox {
    margin-bottom: 20px;
  }

  .errorMsg {
    color: red;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
  }

  .selectBox{
    width: auto !important;
    height: 52px !important;
  }

  .backButton{
    margin-right: 20px;
    background: #fff !important;
    border: 1px solid #007aff !important;
    color: #007aff !important;
    margin-bottom: 50px;
    @media (max-width: 767px){
      margin-bottom: 10px;
      width: 80%;
    }
  }

  .formButton{
    @media (max-width: 767px){
      width:100% !important;
    }
  }

  .formButton:hover, .backButton:hover{
    cursor: pointer;
  }

  .confMenu {
    height: 50px;
    background: #fff;
    display: flex;
    align-items: center;
}

.confMenu a {
    margin: 0px 20px;
    color: rgb(0 0 0 / 54%);
    text-decoration: none;
    font-family: "Inter", sans-serif !important;
}

.active{
    color: #007aff !important;
}

.active::before {
    content: '';
    display: block;
    border: 2px solid #007aff;
    width: 100%;
    position: relative;
    top: 35px;
}

.titleBox {
  font-size: 18px;
  font-weight: 600;
  font-family: "Inter", sans-serif !important;
}

.formContainer{
  @media(max-width: 768px) {
    height: 650px;
    overflow: scroll;          
  }
}