.registerContainer{ 
    height: 85vh;
}

.loginOptionText{ 
    margin-top: 2rem;
    text-align: center;
}

.linkCreatAccount{
    font-family: "Inter", sans-serif;
    text-decoration: none;
    font-weight: 600;
    font-size: 13px;
    margin-left: 5px;
    color: #FFAF00;
}

.formsignUpButton{
    background-image: linear-gradient(to right, #FFAF00 , #FF4223);
    color: #fff !important;
    padding: 10px 24px;
    gap: 8px;
    width: 376px;
    height: 48px;
    border-radius: 8px;
    border: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
    cursor: pointer
}

.loginOptionText{
    margin-top: 20px !important;
}

.backButtonArrow{
    position: absolute !important;
    left: 2rem !important;
    top: 5rem !important;
    border: 1px solid #ccc !important;
    border-radius: 5px !important;
}

.animationContainerDown{
    animation: fadeInDown 1s;
}

.errorMsg {
    color: red;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
}

.errorsTitle {
    text-align: left;
    font-size: 12px;
    font-family: "Inter", sans-serif;
}

.errorListItem span {
    font-size: 12px !important;
}

.errorListAvatarGreen{
    background-color: #12B76A !important;
}

.errorListAvatarRed{
    background-color: #cccccc !important;
}

.errorListAvatarGreen, .errorListAvatarRed {
    width: 25px !important;
    height: 25px !important;
}

.errorIcon{
    font-size: 18px !important;
}

.css-1e9lk82-MuiListItemAvatar-root {
    min-width: 40px !important;
}

.css-1ilc47i, .css-1q8rrtt{
    background-color: #FFAF00 !important;
}



@keyframes fadeInDown {
    from { 
      opacity: 0;
      transform: translateY(-50px); 
    }
    to { 
      opacity: 1;
      transform: translateY(0px); 
    }
  }
  