.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.recordText{
    font-size: 24px;
    color: #1E1E1E70;
    display: block;
    margin-bottom: 150px;
}

.recordingButton{
    margin: auto;
    display: block;
    width: 1215px;
    height: 145.58px;
    padding: 12.11px, 18.16px, 12.11px, 18.16px;
    text-align: center;
    background-color: #E73F3F;
    border-radius: 10px;
    gap: 9.08px;
    font-size: 32px;
    color: #F8F9FB;
    margin-top: 150px;

}

.notRecordingButton{
    margin: auto;
    display: block;
    width: 1215px;
    height: 145.58px;
    padding: 12.11px, 18.16px, 12.11px, 18.16px;
    text-align: center;
    background-color: #1B8D56;
    border-radius: 10px;
    gap: 9.08px;
    font-size: 32px;
    color: #F8F9FB;
    margin-top: 150px;
}

.recordingArea{
}