.atendimentoContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #eef4ff !important;
  height: 100vh;
  align-items: flex-start;
}

.recordText {
  font-size: 18px;
  color: #1e1e1e70;
  display: block;
  margin-left: 20px;
  margin-top: 10px;
}

.recordingButton {
  background-image: linear-gradient(to right, #b53737 , #f01515);
  color: #f8f9fb !important;
  padding: 15px !important;
  width: 230px !important;
  margin-top: 20px !important;
  margin-left: 20px !important;
}

.notRecordingButton {
  background-image: linear-gradient(to right, #444CE7 , #2E90FA);
  color: #f8f9fb !important;
  padding: 15px !important;
  width: 230px !important;
  margin-top: 20px !important;
  margin-left: 20px !important;
}

.audio-container {
  font-size: 18px;
  color: #1e1e1e70;
  margin-bottom: 50px;
  display: block;
  justify-content: center;
  align-items: center;
}

.audioPlayer {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}

.audioLink {
  margin-top: 30px;
  display: block;
  color: black;
}

.summarizeButton {
  margin: auto;
  display: block;
  width: 400px;
  height: 60px;
  padding: 12.11px, 18.16px, 12.11px, 18.16px;
  text-align: center;
  border-radius: 10px;
  font-size: 32px;
  margin-top: 30px;
  background-color: gainsboro;
}

.startRecord {
  display: flex;
  align-items: center;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  background: #fff;
  width: 98%;
  margin-left: 20px;
  padding: 15px;
  border: 2px solid #0d99ff;
  border-radius: 9px;
  margin-top: 20px;
  box-shadow: 0px 2px 4px #C7D7FE;
}
