body {
  margin: 0;
  font-family: Verdana,Geneva,sans-serif !important; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.links{
  color: #555555;
}

.links:hover{
  text-decoration: underline;
}

.title {
  font-weight: 600;
  font-size: 21px;
}