.resumosAnteriores {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #eef4ff;
    height: 100vh;
}

.menuBtnItem {
    margin-top: 10px;
}

.menuConfBtn {
    width: 320px;
    height: 50px;
    justify-content: flex-start !important;
    background-color: #007aff !important;
}

.menuConfBtn .MuiButton-icon svg {
    color: #fff;
}

.titlePlan{
    text-align: left;
    margin-left: 15px;
    margin-bottom: 5px;
}

.subtitlePlan{
    text-align: left;
    margin-left: 15px;
    font-size: 12px;
    margin-bottom: 20px;
}

.promptTableHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.promptActions {
    margin-right: 15px;
}

.bt-add-prompt {
    background: #007aff !important;
    font-size: 16px !important;
}

.modalContent{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 768px;
  height: 575px;
  padding: 20px;
  background-color: #fff;
  border: 2px solid #cfcfcf;
  box-shadow: 24;
}

.promptInModal{
  height: 450px;
  width: 100%;
  border-radius: 0px;
}

.modalFormButton{
  height: 45px;
  padding: 10px 18px 10px 18px;
  gap: 8px;
  border-radius: 8px ;
  color: #ffffff;
  background-color: #007aff;
  border: 0px;
  cursor: pointer;
}

.formButtonLoad{
  background-color: #9dbcad !important;
}

.buttonTableContainer {
    display: flex;
}

.editButton {
    text-transform: capitalize !important;
    background: #007aff !important;
    color: #fff !important;
    font-size: 16px !important;
}

.btnReceipt {
    text-transform: capitalize !important;
    background: #007aff !important;
    color: #fff !important;
    font-size: 16px !important;
}

.backButton{
    width: 390px;
    height: 45px;
    padding: 10px 18px 10px 18px;
    gap: 8px;
    border-radius: 8px;
    color: #ffffff;
    background-color: #007aff;
    border: 0px;
    margin-top: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

.processedBtn{
    color: #ffffff;
    background-color: #007aff;
    padding: 10px 18px 10px 18px;
    border-radius: 8px;
}

.reProcessedBtn{
    color: #ffffff !important;
    background-color: #c08008 !important;
    padding: 10px 18px 10px 18px !important;
    border-radius: 8px !important;
}

.seeProcessedBtn{
    color: #007aff !important;
    background-color: #fff !important;
    border: 1px solid #007aff !important;
    padding: 7px 18px 7px 18px !important;
    border-radius: 8px !important;
    margin-left: 5px !important;
}